altgraph==0.17.4
attrs==21.4.0
Automat==22.10.0
backports.functools-lru-cache==1.6.6
constantly==15.1.0
cycler==0.10.0
hyperlink==21.0.0
idna==2.10
incremental==22.10.0
kiwisolver==1.1.0
macholib==1.16.3
matplotlib==2.2.5
modulegraph==0.19.2
numpy==1.16.6
Pillow==12.1.1
py2app==0.24
pyfits==3.5
pygame==1.9.6
PyHamcrest==1.10.1
pyparsing==2.4.7
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
subprocess32==3.5.4
Twisted==10.2.0
typing==3.10.0.0
zope.interface==5.5.2
