on: [workflow_dispatch, pull_request]

name: Build for Tahoe

jobs:
  build:
    strategy:
      matrix:
        os: [macos-26, macos-26-large]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          git clone --depth 1 --single-branch --branch python2 https://github.com/sdss/opscore.git ../opscore
          git clone --depth 1 --single-branch --branch sdss5 https://github.com/sdss/actorkeys.git ../actorkeys
          git clone --depth 1 --single-branch --branch master https://github.com/r-owen/RO.git ../RO

      - name: Install Python 2
        uses: LizardByte/actions/actions/setup_python@master
        with:
          python-version: '2.7'

      - name: Restore environment
        run: |
          pip install -U pip wheel setuptools
          pip install -r BuildForMac/environment-tahoe.txt

      - name: Build STUI
        shell: bash -l {0}
        run: |
          conda activate STUI
          python releaseNewVersion.py
        env:
          # DYLD_FRAMEWORK_PATH: /Library/Frameworks/Tk.framework:/Library/Frameworks/Tcl.framework:/Library/Frameworks
          PYTHONPATH: ${{github.workspace}}:${{github.workspace}}/../RO/python:${{github.workspace}}/../opscore/python:${{github.workspace}}/../actorkeys/python:${{github.workspace}}/BuildForMac/assets/external/python:${{github.workspace}}/BuildForMac/assets/plc/python
          RO_DIR: ${{github.workspace}}/../RO
          OPSCORE_DIR: ${{github.workspace}}/../opscore
          ACTORKEYS_DIR: ${{github.workspace}}/../actorkeys

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: STUI_${{ matrix.os }}
          path: /Users/runner/STUI_*_Source/BuildForMac/dist/STUI_*_Mac.dmg
