on: [workflow_dispatch, pull_request]

name: Build for Tahoe

jobs:
  build:
    strategy:
      matrix:
        os: [macos-26]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: false

      - name: Install dependencies
        run: |
          git clone --depth 1 --single-branch --branch python2 https://github.com/sdss/opscore.git ../opscore
          git clone --depth 1 --single-branch --branch sdss5 https://github.com/sdss/actorkeys.git ../actorkeys
          git clone --depth 1 --single-branch --branch master https://github.com/r-owen/RO.git ../RO

      - name: Restore environment
        run: |
          conda create --name STUI --file BuildForMac/environment.txt
          conda activate STUI
          pip install numpy==1.10.1
          pip install py2app==0.24 modulegraph==0.19.2 matplotlib==2.2.5 pyfits==3.5 twisted==20.3.0 pygame==1.9.6
          pip install Pillow==6.2.2
        shell: bash -l {0}

      - name: List environment
        run: |
          conda activate STUI
          echo "pip list"
          pip list
          echo "conda list"
          conda list
        shell: bash -l {0}

      - name: Build STUI
        shell: bash -l {0}
        run: |
          conda activate STUI
          python releaseNewVersion.py
        env:
          # DYLD_FRAMEWORK_PATH: /Library/Frameworks/Tk.framework:/Library/Frameworks/Tcl.framework:/Library/Frameworks
          PYTHONPATH: ${{github.workspace}}:${{github.workspace}}/../RO/python:${{github.workspace}}/../opscore/python:${{github.workspace}}/../actorkeys/python:${{github.workspace}}/BuildForMac/assets/external/python:${{github.workspace}}/BuildForMac/assets/plc/python
          RO_DIR: ${{github.workspace}}/../RO
          OPSCORE_DIR: ${{github.workspace}}/../opscore
          ACTORKEYS_DIR: ${{github.workspace}}/../actorkeys

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: STUI_${{ matrix.os }}
          path: /Users/runner/STUI_*_Source/BuildForMac/dist/STUI_*_Mac.dmg
